

.tablero{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 600px;
    justify-content: center;
    margin: 0 auto;
}

* {
    transition: all 0.9s;
}


body {
    padding: 0;
    margin: 0;
    perspective: 1000px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: calibri;
    margin-top: -20px;
}

/*Styles de color para el boton de inicio o nuevo Juego*/
.nuevo-juego {
    cursor: pointer;
    background: linear-gradient(rgb(57, 44, 243), rgb(90, 64, 238));
    padding: 40px;
    border-radius: 50px;
    border: white 5px solid;
    font-size: 120%;
    margin-top: -310px;
    margin-left: 1110px;

}
